{% load static %}
<div class="container-fluid col-9">
    <!-- REST API Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">REST-API</h6>
        </div>
        <div class="card-body" style="margin: -2% 15%;">
            <form action="{% url 'rest_api:generate' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Generate">
                    </div>
                    <input type="text" class="form-control" placeholder="Generate Token Value" readonly>
                </div>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                </div>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                </div>
            </form>
            <hr>
            <form action="{% url 'rest_api:verify' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Verify">
                    </div>
                    <input type="text" class="form-control" placeholder="Verify Token Value" readonly>
                </div>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Authorization" name="token" required>
                </div>
            </form>
            <hr>
            <form action="{% url 'rest_api:refresh' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Refresh">
                    </div>
                    <input type="text" class="form-control" placeholder="Refresh Token Value" readonly>
                </div>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Authorization" name="token" required>
                </div>
            </form>
            <hr>
            <form action="{% url 'rest_api:data' %}" method="GET" onsubmit="return false;">
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Data-Request">
                    </div>
                    <!-- <input type="text" class="form-control" placeholder="Data Request " readonly> -->
                </div>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-key"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Authorization" name="token" required>
                </div>
            </form>
            <button id="reqData">Test</button>
        </div>
    </div>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Response Result</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse collapse" id="collapseCardExample">
            {% include 'main/_table.html' %}
        </div>
    </div>

</div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $('#reqData').on('click', function() {
        $.ajax({
            url: "{% url 'rest_api:data' %}",
            type: 'GET',
            headers: {
                'Authorization': 'jwt ' + 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjozLCJ1c2VybmFtZSI6ImFkbWluIiwiZXhwIjoxNTc1MDAxNjY4LCJlbWFpbCI6IiIsIm9yaWdfaWF0IjoxNTc0Mzk2ODY4fQ.k8iPVxWEjd8_IdC8fLzj0nt9SIKFvMB9-P7wLv6SXis'
            },
            success: function(response) {
                console.log('success')
                console.log(response[0].fields)
            }, error: function(response, status, text) {
                console.log('error')
            }
        });
    })
</script>
{% endblock %} 